* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  html{
      line-height: 1.15;
      color: #ffffff;
  }
  
  body{
      cursor: none;
      @include font-smoothing;
      background-color: $black;
  }