/**
* Footer.jsx
*/
.footer {
  background-color: #5299d3;
  width: 100%;
}

.footer-nav {
  width: 100%;
  display: grid;
  grid-template: repeat(1fr, 3) / 1fr;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: $white;
}
