.header-content {
  background-color: $black;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: "menu logo switch"
                       "message message message"
                       "icons anchor . ";

  // Header message:
  .greeting {
    grid-area: message;
    align-self: center;
    justify-self: center;

    .content-line {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      &.line-shift{
        // padding-left: 5vw;
        justify-content: flex-end;
      }

      .content-word {
        margin-right: 1.6vw;
        font-size: 7.5vw;
        line-height: 0.6em;
        // letter-spacing: 0px;
      }
    }
  }

  #logo{
    grid-area: logo;
    align-self: flex-start;
    justify-self: center;
  }
  .icons{
    grid-area: icons;
    align-self: center;
    justify-self: start;
  }
  .toggle{
    grid-area: switch;
    align-self: center;
    justify-self: end;
  }

}

