.header-content {
  background-color: $black;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: "logo switch"
                       "message"
                       "icons";

  // Header message:
  .greeting {
    grid-area: message;
    .content-line {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;

      .content-word {
        margin-right: 1.6vw;
      }
    }
  }

  #navbar{
    grid-area: logo;
  }
  .icons{
    grid-area: icons;
  }

}

