section {

    .greeting {
        font-size: 8vw;

        .content-line {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start; 

            .content-word {
                margin-right: 1.6vw;
            }
        }
    }
}




.header-content{
    background-color: $black;
    height: 100vh;
}