* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
html{
    line-height: 1.15;
    color: #ffffff;
}

body{
    cursor: none;
}

#navbar{
    position: absolute;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    top: 3vh;
    list-style: none;
    /* padding-left: 1.6vw; */
}

.nav-item{
    margin-right: 5vw; 
    color: #ffffff;
}

.logo{
    height: 40px;
    /* background-color: aqua; */
}

.cursor{
    background: white;
    opacity: .4;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    position: absolute;
    transition-duration: 50ms;
    transition-timing-function: ease-out;
    z-index: 999;
    pointer-events: none;
}

.expand{
    animation: cursorAnim .5s forwards ease-out
}

@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.5);
        opacity: .5;
    }

    75% {
        transform: scale(2);
        opacity: .3;
    }

    100% {
        transform: scale(1);
    }
}

.header-content{
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-wrap: nowrap;
    /* position: relative; */
    align-content: space-between;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon{
    top: 90vh;
    margin-left: 2.2vw;
    position: absolute;
}

.icon a{
    cursor: none;
}

.icon img{
    width: 30px;
    height: 30px;
}

.linkedin-icon{
    left: 3.5rem;
    /* margin-left: 10px; */
}

section{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    font-size: 2em;
    font-weight: bold;
}

section h1{
    font-size: 9vw;
}

section h1 .content-line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start; 
}

section h1 .content-line .content-word{
    margin-right: 1.6vw;
}

.color{
    transition: color 3s;
    transition-delay: 1s;
}

.color-1:hover{
    color: #A9E5BB;
    transition: color 0s;
}

.color-2:hover{
    color: #5299D3;
    transition: color 0s;
}

.color-3:hover{
    color: #F7B05B;
    transition: color 0s;
}

.color-4:hover{
    color: #E4572E;
    transition: color 0s;
}

.color-5:hover{
    color: #FCBCB8;
    transition: color 0s;
}