* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
html{
    line-height: 1.15;
    color: #ffffff;
}

body{
    cursor: none;
}

#navbar{
    position: absolute;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    top: 3vh;
    list-style: none;
    /* padding-left: 1.6vw; */
}

.nav-item{
    margin-right: 5vw; 
    color: #ffffff;
}

.logo{
    height: 40px;
    /* background-color: aqua; */
}

.cursor{
    background: white;
    opacity: .4;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    position: absolute;
    transition-duration: 30ms;
    transition-timing-function: ease-out;
    z-index: 999;
    pointer-events: none;
}

.expand{
    animation: cursorAnim .5s forwards ease-out
}

@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.5);
        opacity: .5;
    }

    75% {
        transform: scale(2);
        opacity: .3;
    }

    100% {
        transform: scale(1);
    }
}

.header-content{
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-wrap: nowrap;
    /* position: relative; */
    align-content: space-between;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icon{
    top: 90vh;
    margin-left: 2.2vw;
    position: absolute;
}

.icon a{
    cursor: none;
}

.icon img{
    width: 30px;
    height: 30px;
}

.linkedin-icon{
    left: 3.5rem;
    /* margin-left: 10px; */
}

section{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    font-size: 2em;
    font-weight: bold;
}

section h1{
    font-size: 8vw;
}

section h1 .content-line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start; 
}

section h1 .content-line .content-word{
    margin-right: 1.6vw;
}

.color{
    transition: color 3s;
    transition-delay: 1s;
}

.color-1:hover{
    color: #A9E5BB;
    transition: color 0s;
}

.color-2:hover{
    color: #5299D3;
    transition: color 0s;
}

.color-3:hover{
    color: #F7B05B;
    transition: color 0s;
}

.color-4:hover{
    color: #E4572E;
    transition: color 0s;
}

.color-5:hover{
    color: #FCBCB8;
    transition: color 0s;
}

#projects-title{
    background: #5299D3;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: .2em;
    font-size: 1.3rem;
}

.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));

}

.project-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-links > a{
    cursor: none;
    color: #ffffff;
    margin: 1.5rem;
    text-emphasis: none;
    text-decoration: none;
    font-size: 1.8em;
    border: .5px solid #ffffff;
    border-radius: 1.5rem;
    height: 2.7rem;
    width: 150px;
}

.project-links > a:hover{
    border: none;
    transition: background-color .8s ease;
    transition-delay: 0s;
}

.btn-nak:hover{
    background-color: #F7B05B;
}

.btn-fmu:hover{
    background-color: #A9E5BB;
}

.project-links > a > img{
    width: 30px;
    height: 30px;
    cursor: none;
    padding-left: 10px;
}

.project{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.2rem;
}

.project > .img{
    /* width: 18vw; */
    height: 14rem;
    width: 90%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* padding: 2.2rem 0; */
}

.project > p{
    font-size: 2.2vw;
    line-height: 1.2em;
    width: 40vw;
    text-align: center;
    margin-bottom: 1.2rem;
}

.project-1{
    background-color: #A9E5BB;
}

.project-2{
    background-color: #F7B05B;
}


.img-2 img{
    width: 90%; 
    height: auto;
    /* padding-top: 1rem; */
}


@media screen and (max-width: 895px){
    .project > img{
        width: 25vw;
    }

    .project-2 > img{
        width: 60vw;
        padding: 2rem 0;
    }

    .project > p{
        font-size: 3.8vw;
        line-height: 1.5em;
        width: 90vw;
        text-align: center;
        margin-bottom: 0.8rem;
    }
}

@media screen and (max-width: 675px){
    .project > img{
        width: 45vw;
    }

    .project-2 > img{
        width: 60vw;
        padding: 2rem 0;
    }

    .project > p{
        font-size: 5vw;
        line-height: 1.5em;
        width: 75vw;
        text-align: center;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 400px){
    .project{
        width: 100vw;
        padding: 0;
    }
    .project > .img{
        width: auto;
    }

    .project-links{
        width: auto
    }

    .img{
        width: 375px;
    }

    .header-content{
        height: 100vh;
        width: 100vw;
        padding: 0;
    }

    section{
        width: 100vw;
    }

    section h1{
        font-size: 10vw;
    }

    .project > p{
        font-size: 6.5vw;
        line-height: 1.5em;
        width: 90vw;
        text-align: center;
        margin-bottom: 1rem;
    }

    #projects-title{
        background: #5299D3;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        width: 100vw;
        height: 6vh;
    }

    .content-line{
        padding-left: 20px;
    }

    html{
        padding: 0;

    }
}
